.wrapper {
  margin-top: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 56rem;
  height: 31rem;
  justify-content: space-between;
}

.slider {
  width: 35.25rem;
  height: 25rem;
}

.info {
  width: 20.25rem;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  border: 1.2px solid #E2E2E2;
}

.info:hover {
  -webkit-box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
  -moz-box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
  box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
}

.adressDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90268F;
  height: 2rem;
}

.adressDiv h3 {
  color: white;
  text-align: center;
  font-size: 15px
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts h4 {
  font-weight: 400;
  font-size: 18px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

.contacts p {
  width: 85%;
  margin-left: 1rem;
  margin-top: 0.2rem;
  font-size: 14px;
  padding-bottom: 0.25rem;
  border-bottom: 1.5px solid #f1f1f1;
}

.contacts .firstP {
  margin-top: 0rem;
}


.contacts img {
  height: 0.7rem;
}

.contacts span {
  margin-left: 0.5rem;
}

.includeChar {
  padding-right: 0.2rem;
  color: #53a9dc;
}

.includeChar:hover {
  color: black;
}

.imgWrapper {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.imgWrapper img {
  width: 10rem;
  transform: scale(-1, 1);
  opacity: 0.8;
}

.imgWrapper img:hover {
  cursor: pointer;
  opacity: 0.65;
}

.emailWrite {
  text-decoration: none;
  color: rgb(144 38 143)
}
.emailWrite:hover {
  text-decoration: none;
  opacity: 70%;
}




@media (max-width: 930px) {
  .wrapper {
    width: 93.5vw;
  }

  .slider {
    width: 56.5vw;
    height: auto;
  }

  .info {
    width: 36vw;
    height: 24.7rem;
  }

  .adressDiv h3 {
    font-size: 11px
  }

  .contacts h4 {
    font-size: 12px;
  }

  .contacts p {
    font-size: 11px;
  }

  .imgWrapper img {
    width: 7rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}



@media (max-width: 660px) {
  .slider {
    width: 50vw;
  }

  .info {
    width: 42.5vw;
  }

  .wrapper {
    height: auto;
  }
}

@media (max-width: 550px) {
  .slider {
    width: 93.5vw;
  }

  .info {
    width: 93.5vw;
    margin-bottom: 1rem;
  }

  .wrapper {
    flex-direction: column;
  }
}