.saloon h4 {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 2rem;

}

h4 span {
  color: #E2E2E2;
  letter-spacing: -0.1em;
}

.titleFlex {
  display: flex;
  border-bottom: 1px solid #E2E2E2;
}

.titleFlex:hover {
  background-color: rgb(206, 204, 204, 0.4);
  border-radius: 10px;
}

.title {
  font-size: 15px;
  font-weight: 900;
  padding-left: 1rem;
  width: 1px;
  padding-right: 39.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.border {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.priceWithDiscount {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

.discount {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
}

.withoutDisc {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
  margin-right: 1.3rem;
  font-weight: 700;
  font-size: 15px;
}

.title span {
  font-size: 13px;
}

.info {
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

sup {
  color: red;
}

@media (max-width: 930px) {
  .wrapper {
    width: 93.5vw;
  }
  .title {
    padding-right: 0vw;
    margin-right: auto;
  }
  .countBox {
    width: 87vh;
  }
  .titleFlex {
    width: 87vw;
  }
  .titleFlexMain {
    width: 85.5vw;
  }
}

@media (max-width: 490px) {
  .info {
    padding-left: 1rem;
    padding-right: 1rem;

  }
}

@media (max-width: 360px) {
  .title span {
    font-size: 11px;
  }
}


