.wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-between;
}

.logo {
  width: 8rem;
}

.logo:hover {
  cursor: pointer;
  opacity: 50%;
}

.logoDiv {
  margin-left: auto;
  margin-right: 20rem;
}

.navMenuDiv {
  margin-right: auto
}

.navMenu {
  margin-right: 0.5rem;
  text-decoration: none;
  color: #6b6b6b;
  font-size: 15px;
  text-decoration: none;
  background-image: linear-gradient(#90268F, #90268F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: .4s;
  padding-bottom: 3px;
}

.navMenu:hover {
  background-size: 100% 2px;
  color: black;
}

@media (max-width: 984px) {
  .logoDiv {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navMenuDiv {
    margin-right: 0px;
  }
}