.footer {
  text-align: center;
  width: 56rem;
  margin: auto;
  margin-top: 1rem;
}

.footer div {
  font-size: 12px;
}

.footer p {
  font-weight: 600;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 930px) {
  .footer {
    width: 93vw;
  }
  .footer p {
    font-size: 14px;
  }
}