.wrapper {
  width: 56rem;
  margin: auto;
  margin-top: 1rem;
  border: 1.2px solid #E2E2E2;
}

.wrapper:hover {
  -webkit-box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
  -moz-box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
  box-shadow: 2px 3px 27px 3px rgba(122, 122, 122, 0.18);
}

.wrapper h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flexWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.flexWrapper img {
  margin-left: 2rem;
  border-radius: 17px;
  height: 16rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.infoWrapper h4 {
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pInfo {
  font-size: 15px;
}

.moreInfo {
  font-size: 13px;
  margin-top: 0.5rem;
}

.btnMore {
  margin-top: 0.5rem;
  border: 1px solid #90268F;
  color: black;
  background-color: white;
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  transition: 0.3s;
}

.btnMore:hover {
  background-color: #90268F;
  color: white;
  transition: 0.3s;
}

@media (max-width: 930px) {
  .wrapper {
    width: 93.5vw;
  }
  .wrapper h2 {
    font-size: 20px;
  }
}

@media (max-width: 880px) {
  .flexWrapper {
    flex-direction: column;
  }
  .pInfo {
    text-align: center;
  }
  .moreInfo {
    text-align: center;
  }
  .infoWrapper h4 {
    margin-top: 1rem;
  }
  .flexWrapper img {
    height: 14rem;
    margin-left: 0rem;
  }
}

@media (max-width: 550px) {
  .flexWrapper img {
    height: 9rem;
  }
  .wrapper h2 {
    font-size: 17px;
  }
}