@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* check */
html {
  overflow-x: hidden
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  overflow-x: hidden
}

* {
  margin: 0;
  padding: 0;
}

.btn1 {
  background-color: rgb(34, 165, 85)
}

.btn2 {
  background-color: #53a9dc
}

.btn3 {
  background-color: #f1b144
}

.btn4 {
  background-color: #dc3732
}

.btn5 {
  background-color: #91278f
}

button:hover {
  cursor: pointer;
}

.thumbnails {
  justify-content: center;
}

img {
  border-radius: 10px;
}

.span2 {
  margin-left: 0.2rem;
  color: #53a9dc;
  font-weight: 900;
}

.span3 {
  margin-left: 0.2rem;
  color: #f1b144;
  font-weight: 900;
}

.span4 {
  margin-left: 0.2rem;
  color: #dc3732;
  font-weight: 900;
}

.span5 {
  margin-left: 0.2rem;
  color: #91278f;
  font-weight: 900;
}

.my-balloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
  border-radius: 0.5em;
  height: auto;
}

.my-balloon h4 {
  margin-top: 0.5rem;
}

.my-balloon p:last-child {
  margin-bottom: 0.5rem;
}

.telephoneNumber {
  color: #b51fff;
}

.ymaps-2-1-79-balloon {
  box-shadow: 0px 0px 12px -10px rgb(0, 0, 0) !important;
}

.ymaps-2-1-79-balloon__content {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.ReactModal__Overlay {
 background-color: rgba(116, 116, 116, 0.8) !important
}

.slide-number {
  display: none;
}

@media (max-width: 930px) {
  .thumbnails
  {
    width: 56.5vw;
  }
  .thumbnails img
  {
    width: 10vw;
  }
  .ymaps-2-1-79-map {
    width: 86vw !important;
    height: auto;
  }
  .my-balloon {
    width: 38vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .my-balloon p:last-child {
    margin-bottom: 0.5rem;
  }
  .ymaps-2-1-79-balloon {
    width: 45vw !important;
  }
  
  .my-balloon h4 {
    margin-bottom: 0rem;
    margin-top: 0.2rem;
  }
  
  .my-balloon p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .ymaps-2-1-79-balloon {
    box-shadow: none !important;
  }
}

@media (max-width: 790px) {
  .my-balloon h4 {
    font-size: 13px;
  }
  
  .my-balloon p {
    font-size: 12px;
  }
}

@media (max-width: 660px) {
  .thumbnails
  {
    display: none;
  }
  .thumbnails img
  {
    display: none;
  }
}

@media (max-width: 400px) {

   .my-balloon h4 {
    font-size: 11px;
  }
  
  .my-balloon p {
    font-size: 9px;
    margin-bottom: 0rem;
  } 
  .my-balloon p:last-child {
    margin-bottom: 0;
  } 
  /* .ReactModal__Content {
    height: 65vh !important;
  } */
  
}


